<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Page</title>

    <style>
        html {
            size: 10px;
            text-align: center;
            min-width: 60rem;
        }
        .item {
            margin: auto;
            width: 55rem;
        }
    </style>
</head>
<body>
    <h1>구인구직</h1>

    <div class = "container">
        <div class = 'item'>
            <h2>등록하기</h2>

            <form enctype="multipart/form-data" action="{% url 'update' id %}" method="POST">
                {% csrf_token %}
                <p>상호 : <input type="text" name= "company" value='{{update_data.company}}'></p>
                <p>장소 : <input type="text" name= "where" value='{{update_data.where}}'></p>
                <p>기간 : <input type="number" name= "period" min='1' max='12' value='{{update_data.period}}'> 개월 (이상)</p>
                <p>요일 : <input type="text" name= "day" value='{{update_data.day}}'></p>
                <p>시간 : <input type="text" name= "time" value='{{update_data.time}}'></p>
                {% if update_data.pay == None %}
                    <p>시급 : <input type="text" name= "pay"></p>
                {% else %}
                    <p>시급 : <input type="text" name= "pay" value='{{update_data.pay}}'></p>
                {% endif %}
                <p>사진 : <input type="file" name="image" value='{{update_data.image}}'></p>
                <p>상세 : <textarea name= "detail">{{update_data.detail}}</textarea></p>
                <button type="submit">수정하기</button>
            </form>

        </div>
        <a href="{%url 'detail' id %}"><button>돌아가기</button></a>
    </div>
</body>
</html>