<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <select class="kw">
        <option value="" {% if kw == '' %}selected{% endif %} disabled hidden>진료과목</option>
        <option value="내과" {% if kw == '내과' %}selected{% endif %}>내과</option>
        <option value="외과" {% if kw == '외과' %}selected{% endif %}>외과</option>
        <option value="정형" {% if kw == '정형' %}selected{% endif %}>정형외과</option>
        <option value="치과" {% if kw == '치과' %}selected{% endif %}>치과</option>
    </select>

    <button class="op" value="child" {% if op == 'child' %}disabled{% endif %}>어린이 전용</button>
    <button class="op2" value="" {% if op == '' and kw == '' %}disabled{% endif %}>전체 목록</button>



    {% for i in hospitals %}
        <p>
        <div>{{ i.Name }}</div>
        <div>{{ i.Addr }}</div>
        <div>{{ i.Tele }}</div>
        
            {% if i.Info != None %}
        <div>{{ i.Info }}</div>
        {% endif %}
        {% if i.Etc != None %}
        <div>{{ i.Etc }}</div>
        {% endif %}
        
        <p>
    {% endfor %}



    <form id="searchForm" method="get" action="{% url 'hospitalList' %}">
        <input type="hidden" id="kw" name="kw" value="{{ kw }}">
        <input type="hidden" id="op" name="op" value="{{ op }}">
    </form>


    <script>
        document.querySelector(".kw").addEventListener('change', function() {
            document.querySelector('#kw').value = this.value;
            document.querySelector('#searchForm').submit();
        });

        document.querySelector(".op").addEventListener("click", function() {
            document.querySelector('#op').value = this.value;
            document.querySelector('#searchForm').submit();
        })

        document.querySelector(".op2").addEventListener("click", function() {
            document.querySelector('#op').value = this.value;
            document.querySelector('#kw').value = this.value;
            document.querySelector('#searchForm').submit();
        })
    </script>
</body>
</html>