{% extends "base.html" %}
{% load static %}


{% block extrahead %}
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=ac3e45beda16d0d13cf0185a65ab9c76&libraries=services"></script>
<link rel="stylesheet" href="/static/css/map.css">
<link rel="stylesheet" href="/static/css/overlay.css">
<link rel="stylesheet" href="/static/css/placeList.css">
<!--  변수 선언부 -->
<script>
    var keyword = '{{ keyword }}';
</script>
<body>
{% endblock %}

{% block content %}
    <div class="map_wrap">
        <div id="map" style="width:80vw;height:100%;position:relative;overflow:hidden;"></div>
        <!--검색결과 리스트-->
        <div id="menu_wrap" class="bg_white">
            <hr>
            <ul id="placesList"></ul>
            <div id="pagination"></div>
        </div>

        <div id="menu_wrap" class="list_detail" style="left: 370px; display:none;">

        </div>
    </div>

    <script type="text/javascript" src="/static/js/map.js"></script>
</body>
{% endblock %}