<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{text-align: center;}
        .item{
            border: 5px solid lightblue;
            margin: 50px;
            padding: 30px;
        }
        a {
            text-decoration: none;
            color: black;
        }
    </style>
</head>
<body>
    <h1>🦁TEAM PROJECT🦁</h1>
    <div class = "container">
    {% for i in teammates %}
        <div class = "item">
	        <h2><a href="{% url 'detail' i.id %}">{{i.name}}</a></h2>
        </div>
    {% endfor %}
        <div class="item">
            <h2><a href="{% url 'create_page' %}">Add member</a></h2>
        </div>
    </div>
</body>
</html>